:root {
	--my-font-text: "Nunito", cursive;
	--my-font-heading: "Pacifico", cursive;
}

html {
	height: 100%;
}

body {
	height: 80%;
	margin: 80px auto;
	max-width: 800px;
	font-family: var(--my-font-text);
	font-size: 18px;
	font-weight: 500;
}

h1 {
	font-family: var(--my-font-heading);
	margin-bottom: 70px;
}

h2 {
	font-family: var(--my-font-heading);
	margin-bottom: 50px;
}

.my-font-heading {
	font-family: var(--my-font-heading);
}

#navbar-avatar {
	max-width: 40px;
}

#she-codes-logo {
	max-width: 200px;
	margin-bottom: 30px;
}

@media (max-width: 576px) {
	#home {
		max-width: 300px;
	}
	#home #Home-Project-Collection {
		text-align: center;
	}
	#projects #My-Project-Collection img {
		display: none;
	}
}

@media (max-width: 768px) {
	#about-me #about-me-avatar {
		text-align: center;
		margin-bottom: 50px;
	}
}
